@font-face {
  font-family: "Sofia Pro";
  src: url("https://app.invicta.io/fonts/SofiaPro-LightItalic.eot");
  src: url("https://app.invicta.io/fonts/SofiaPro-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://app.invicta.io/fonts/SofiaPro-LightItalic.woff2")
      format("woff2"),
    url("https://app.invicta.io/fonts/SofiaPro-LightItalic.woff") format("woff"),
    url("https://app.invicta.io/fonts/SofiaPro-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("https://app.invicta.io/fonts/SofiaPro.eot");
  src: url("https://app.invicta.io/fonts/SofiaPro.eot?#iefix")
      format("embedded-opentype"),
    url("https://app.invicta.io/fonts/SofiaPro.woff2") format("woff2"),
    url("https://app.invicta.io/fonts/SofiaPro.woff") format("woff"),
    url("https://app.invicta.io/fonts/SofiaPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SofiaPro" "Segoe UI",
    "Roboto", "Poppins", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[placeholder] {
  text-overflow: ellipsis;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
